<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.csrm.appraise.mapper.AppraiseMapper">
    <resultMap id="BaseResultMap" type="com.kb.csrm.appraise.dto.AppraiseDto">
        <result column="appraise_id" property="appraiseId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="course_id" property="courseId" jdbcType="INTEGER" />
        <result column="appraise_grade" property="appraiseGrade" jdbcType="INTEGER" />
        <result column="appraise_content" property="appraiseContent" jdbcType="VARCHAR" />
        <result column="appraise_time" property="appraiseTime" jdbcType="TIMESTAMP" />
        <result column="appraise_raise" property="appraiseRaise" jdbcType="INTEGER" />
    </resultMap>
    
    <select id="getAllAppraise" resultMap="BaseResultMap">
        select * from appraise
    </select>

    <select id="getAppraiseById" parameterType="int" resultMap="BaseResultMap">
        select * from appraise
        where appraise_id = #{appraiseId}
    </select>
    <select id="getAppraiseUser" parameterType="com.kb.csrm.appraise.dto.AppraiseDto" resultType="String">
        select user_name
        from user
        where user_id = #{userId}
    </select>
    <select id="getAppraiseCourse" parameterType="com.kb.csrm.appraise.dto.AppraiseDto" resultType="String">
        select course_name
        from course
        where course_id = #{courseId}
    </select>

    <select id="getAppraiseByUserId" parameterType="int" resultMap="BaseResultMap">
        select * from appraise
        where user_id = #{userId}
    </select>

    <select id="getAppraiseByCourseId" parameterType="int" resultMap="BaseResultMap">
         select * from appraise
         where couser_id = #{courseId}
    </select>

    <select id="getAppraiseByKeyWord" parameterType="String" resultMap="BaseResultMap">
        select *
        from appraise
        where appraise_content LIKE CONCAT('%',#{appraiseContent},'%')
    </select>

    <insert id="addAppraise" parameterType="com.kb.csrm.appraise.dto.AppraiseDto">
        insert into appraise
        values (
        #{appraiseId},
        #{userId},
        #{courseId},
        #{appraiseGrade},
        #{appraiseContent},
        #{appraiseTime},
        #{appraiseRaise})
    </insert>

    <delete id="deleteAppraise" parameterType="int">
        delete from appraise
        where appraise_id = #{appraiseId}
    </delete>

    <update id="updateAppraise" parameterType="com.kb.csrm.appraise.dto.AppraiseDto">
        update appraise
        set
        user_id = #{userId},
        course_id = #{courseId},
        appraise_grade = #{appraiseGrade},
        appraise_content = #{appraiseContent},
        appraise_time = #{appraiseTime},
        appraise_raise = #{appraiseRaise}
        where appraise_id = #{appraiseId}
    </update>
</mapper>