<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.csrm.course.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="com.kb.csrm.course.dto.CourseDto">
        <result column="course_id" property="courseId" jdbcType="INTEGER" />
        <result column="teacher_id" property="teacherId" jdbcType="INTEGER" />
        <result column="college_id" property="collegeId" jdbcType="INTEGER" />
        <result column="teacher_name" property="teacherName" jdbcType="VARCHAR" />
        <result column="course_name" property="courseName" jdbcType="VARCHAR" />
        <result column="course_introduce" property="courseIntroduce" jdbcType="VARCHAR" />
        <result column="course_time" property="courseTime" jdbcType="VARCHAR" />
        <result column="course_rate" property="courseRate" jdbcType="INTEGER" />
        <result column="course_count" property="courseCount" jdbcType="INTEGER" />
        <result column="college_name" property="collegeName" jdbcType="VARCHAR" />
        <result column="faculty_name" property="facultyName" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insertCourse"  parameterType="com.kb.csrm.course.dto.CourseDto">
        insert into course(
        course_name,
        teacher_name,
        course_Rate
        )values (
        #{courseName},
        #{teacherName},
        #{courseRate})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into course(
        course_name,
        teacher_name,
        course_introduce,
        college_id)
        <foreach collection="list" item="item" separator="union all">
            (SELECT
            #{item.courseName},
            #{item.teacherName},
            #{item.courseIntroduce},
            9999
            from dual)
        </foreach>
    </insert>

    <select id="selectCourseById" parameterType="double" resultMap="BaseResultMap">
        SELECT
        c.course_id,
        c.teacher_name,
        c.course_name,
        c.course_rate,
        c.course_count,
        c.course_introduce,
        c.recommend,
        c.college_id,
        co.college_name,
        co.faculty_name
        FROM course c, college co
        WHERE c.course_id = #{courseId}
        and c.college_id = co.college_id
    </select>

    <delete id="deleteCourseById" parameterType="com.kb.csrm.course.dto.CourseDto"  >
        delete from course
        where course_id = #{courseId}
    </delete>

    <update id="updateCourseById" parameterType="com.kb.csrm.course.dto.CourseDto" >
        update course
        set
        course_name=#{courseName},
        teacher_name=#{teacherName}
        where course_id = #{courseId}
    </update>


    <select id="getCourseByKeyWord" parameterType="String" resultMap="BaseResultMap">
        SELECT
        c.course_id,
        c.teacher_name,
        c.course_name,
        c.course_rate,
        c.course_count,
        c.course_introduce,
        c.recommend,
        c.college_id,
        co.college_name,
        co.faculty_name
        FROM course c, college co
        where c.course_name LIKE CONCAT('%',#{courseName},'%')
        and c.college_id = co.college_id
    </select>

    <select id="getCollegeName" parameterType="com.kb.csrm.course.dto.CourseDto" resultType="String">
        select college_name || faculty_name
        from college
        where college_id = #{collegeId}
    </select>

    <select id="getAllCourse" resultMap="BaseResultMap">
        SELECT
        c.course_id,
        c.teacher_name,
        c.course_name,
        c.course_rate,
        c.course_count,
        c.course_introduce,
        c.recommend,
        c.college_id,
        co.college_name,
        co.faculty_name
        FROM course c, college co
        WHERE c.recommend = 1
        and c.college_id = co.college_id
    </select>

    <select id="getRecommend" resultMap="BaseResultMap">
        SELECT
        c.course_id,
        c.teacher_name,
        c.course_name,
        c.course_rate,
        c.course_count,
        c.course_introduce,
        c.recommend,
        co.college_name,
        co.faculty_name
        FROM course c, college co
        WHERE c.recommend = 1
        and c.college_id = co.college_id
    </select>

    <select id="getHighCount" parameterType="int" resultMap="BaseResultMap">
        SELECT
        c.course_id,
        c.teacher_name,
        c.course_name,
        c.course_rate,
        c.course_count,
        c.course_introduce,
        c.recommend,
        co.college_name,
        co.faculty_name
        FROM course c, college co
        and c.college_id = co.college_id
        ORDER BY c.course_count
        LIMIT #{num}
    </select>

    <select id="getTaughtCourse" parameterType="long" resultMap="BaseResultMap">
        SELECT
        c.course_id,
        c.teacher_name,
        c.course_name,
        c.course_rate,
        c.course_count,
        c.course_introduce,
        c.recommend,
        co.college_name,
        co.faculty_name
        from course c, college co
        WHERE c.teacher_id = #{userId}
        and c.college_id = co.college_id
    </select>

</mapper>