<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.csrm.resource.mapper.ResourceMapper">
    <resultMap id="BaseResourceResultMap" type="com.kb.csrm.course.dto.CourseDto">
        <result column="resource_id" property="resourceId" jdbcType="INTEGER" />
        <result column="course_id" property="courseId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
        <result column="resource_size" property="resourceSize" jdbcType="VARCHAR" />
        <result column="resource_filename" property="recourseFilename" jdbcType="VARCHAR" />
        <result column="resource_address" property="resourceAddress" jdbcType="VARCHAR" />
        <result column="resource_time" property="resourceTime" jdbcType="DATE" />
        <result column="download_count" property="downloadCount" jdbcType="INTEGER" />
    </resultMap>

    <insert id="insertResource"  parameterType="com.kb.csrm.resource.dto.ResourceDto">
        insert into resource(
        resource_id,
        course_id,
        user_id,
        resource_name,
        resource_size,
        resource_filename,
        resource_address,
        resource_time,
        download_count
        )values (
        #{resourceId},
        #{courseId};
        #{userId};
        #{resourceName};
        #{resourceSize};
        #{resourceFilename};
        #{resourceAddress};
        #{resourceTime};
        #{downloadCount}
    </insert>

    <select id="selectResourceById" parameterType="double" resultMap="BaseResourceResultMap">
        SELECT
        resource_id,
        course_id,
        user_id,
        resource_name,
        resource_size,
        resource_filename,
        resource_address,
        resource_time,
        download_count
        FROM resource
        WHERE resource_id = #{resourceId}
    </select>

    <select id="deleteResourceById" parameterType="double" resultMap="BaseResourceResultMap">
        delete
        form resource
        where resource_id = #{resourceId}
    </select>

    <select id="updateResourceById" parameterType="double" resultMap="BaseCourseResultMap">
        update resource
        set resource_id=#{resourceId},
        course_id=#{courseId},
        user_id=#{userId},
        resource_name=#{resourceName},
        resource_size=#{resourceSize},
        resource_filename=#{resourceFilename},
        resource_address=#{resourceAddress},
        resource_time=#{resourceAddress},
        download_count=#{downloadCount}
        where resource_id = #{resourceId}
    </select>

</mapper>