<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.csrm.rfConnction.mapper.RFConnectionMapper">
    <resultMap id="BaseResultMap" type="com.kb.csrm.rfConnction.dto.RFConnectionDto">
        <result column="rf_connection_id" property="rfConnectionId" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="function_id" property="functionId" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getRFConnectionById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select *
        from user_function_connection
        where rf_connection_id = #{rfConnectionId}
    </select>

    <select id="getRFConnectionByRoleName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select *
        from user_function_connection
        where role_name = #{roleName}
    </select>

    <update id="updateRFConnection" parameterType="com.kb.csrm.rfConnction.dto.RFConnectionDto">
        update user_function_connection
        set
        rf_connection_id = #{rfConnectionId},
        role_name = #{roleName},
        function_id = #{functionId}
    </update>

    <delete id="deleteRFConnection" parameterType="com.kb.csrm.rfConnction.dto.RFConnectionDto">
        delete from user_function_connection
        where function_id = #{functionId} AND role_name = {roleName}
    </delete>

    <insert id="addRFConnection" parameterType="com.kb.csrm.rfConnction.dto.RFConnectionDto">
        insert into user_function_connection
        values (
        #{rfConnectionId},
        #{roleName},
        #{functionId}
        )
    </insert>
</mapper>