<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.csrm.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.kb.csrm.user.dto.UserDto">
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="INTEGER"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="mail" property="mail" jdbcType="VARCHAR"/>
        <result column="college_id" property="collegeId" jdbcType="INTEGER"/>
        <result column="age" property="age" jdbcType="INTEGER"/>
        <result column="education" property="education" jdbcType="VARCHAR"/>
        <result column="pw_question" property="pwQuestion" jdbcType="VARCHAR"/>
        <result column="pw_answer" property="pwAnswer" jdbcType="VARCHAR"/>
        <result column="college_name" property="collegeName" jdbcType="VARCHAR"/>
        <result column="faculty_name" property="facultyName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAllUser" resultMap="BaseResultMap">
        select *
        from user
    </select>

    <select id="getUserByName" parameterType="String" resultMap="BaseResultMap">
        select *
        from user
        where user_name LIKE #{userName}
    </select>

    <insert id="insertUser" parameterType="com.kb.csrm.user.dto.UserDto">
        insert into user(
        user_name,
        account,
        password,
        role_name,
        mail,
        pw_question,
        pw_answer
        )values (
        #{userName},
        #{account},
        #{password},
        #{roleName},
        #{mail},
        #{pwQuestion},
        #{pwAnswer})
    </insert>


    <select id="query" resultMap="BaseResultMap">
        SELECT
        user_id,
        user_name,
        account,
        password,
        role_name,
        mail,
        college_id,
        age,
        education,
        pw_question,
        pw_answer
        FROM user
    </select>

    <select id="deleteUserById" parameterType="com.kb.csrm.user.dto.UserDto">
        delete
        from user
        where user_id = #{userId}
    </select>
    <select id="updateUserById" parameterType="com.kb.csrm.user.dto.UserDto">
        update user
        set
        user_name=#{userName},
        mail=#{mail}
        where user_id = #{userId}
    </select>

    <select id="login" parameterType="long" resultMap="BaseResultMap">
        SELECT
        u.user_id,
        u.user_name,
        u.account,
        u.password,
        u.role_name,
        u.mail,
        u.college_id,
        u.age,
        u.education,
        u.pw_question,
        u.pw_answer
        FROM user u
        WHERE u.account = #{account}
    </select>

    <select id="signup" parameterType="com.kb.csrm.user.dto.UserDto">
        insert into user(
        user_name,
        account,
        password,
        role_name,
        mail
        )values (
        #{userName},
        #{account},
        #{password},
        #{roleName},
        #{mail}
        )
    </select>
    <select id="changePassword">
        update user
        set password = #{password}
        where account = #{account}
    </select>
    <select id="getPwQuestion" resultType="java.lang.String">
        select pw_question
        from user
        where account = #{account}
    </select>
    <select id="confirmPwAnswer" resultType="java.lang.Integer">
        select COUNT(1)
        from user
        where account = #{account}
        and pw_question = #{pwQuestion}
        and pw_answer = #{pwAnswer}
    </select>
    <select id="confirmPassword" resultType="java.lang.Integer">
        select COUNT(1)
        from user
        where account = #{account}
        and password = #{password}
    </select>
    <select id="loginSession" resultType="com.kb.csrm.user.dto.UserDto">
        SELECT
        u.user_id,
        u.user_name,
        u.account,
        u.password,
        u.role_name,
        u.mail,
        u.college_id,
        c.college_name,
        c.faculty_name,
        u.age,
        u.education,
        u.pw_question,
        u.pw_answer
        FROM user u, college c
        WHERE u.account = #{account}
        and u.college_id = c.college_id
    </select>

    <update id="updateInfo" parameterType="com.kb.csrm.user.dto.UserDto">
        update user
        set
        user_name=#{userName},
        age=#{age},
        college_id=(
        select college_id from college where college_name = #{collegeName} and faculty_name = #{facultyName}
        ),
        age=#{age},
        education=#{education}
        where user_id = #{userId}
    </update>
</mapper>