<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.csrm.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.kb.csrm.user.dto.UserDto">
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="account" property="account" jdbcType="INTEGER" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="role_name" property="roleName" jdbcType="VARCHAR" />
        <result column="mail" property="mail" jdbcType="VARCHAR" />
        <result column="college_id" property="collegeId" jdbcType="INTEGER" />
        <result column="faculty_id" property="facultyId" jdbcType="INTEGER" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="education" property="education" jdbcType="VARCHAR" />
        <result column="pw_question" property="pwQuestion" jdbcType="VARCHAR" />
        <result column="pw_answer" property="pwAnswer" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insertUser"  parameterType="com.kb.csrm.user.dto.UserDto">
        insert into user(
        user_id,
        user_name,
        account,
        password,
        role_name,
        mail,
        college_id,
        faculty_id,
        age,
        education,
        pw_question,
        pw_answer
        )values (
        #{userId},
        #{userName},
        #{account},
        #{password},
        #{roleName},
        #{mail},
        #{collegeId},
        #{facultyId},
        #{age},
        #{education},
        #{pwQuestion},
        #{pwAnswer}

    </insert>

    <select id="selectUserById" parameterType="double" resultMap="BaseResultMap">
        SELECT
        user_id,
        user_name,
        account,
        password,
        role_name,
        mail,
        college_id,
        faculty_id,
        age,
        education,
        pw_question,
        pw_answer
        FROM user
        WHERE user_id = #{userId}
    </select>

    <select id="query" resultType="com.kb.csrm.user.dto.UserDto">
        SELECT
        user_id,
        user_name,
        account,
        password,
        role_name,
        mail,
        college_id,
        faculty_id,
        age,
        education,
        pw_question,
        pw_answer
        FROM user
    </select>

    <select id="deleteUserById" parameterType="double" resultMap="BaseResultMap">
        delete
        form user
        where user_id = #{userId}
    </select>
    <select id="updateUserById" parameterType="double" resultMap="BaseResultMap">
        update user
        set user_id=#{userId},
        user_name=#{userName},
        account=#{account},
        password=#{password},
        role_name=#{roleName},
        mail=#{mail},
        college_id=#{collegeId},
        faculty_id=#{facultyId},
        age=#{age},
        education=#{education},
        pw_question=#{pwQuestion},
        pw_answer=#{pwAnswer}
        where user_id = #{userId}
    </select>
</mapper>